@model JyoshinmonKarate.Models.Belt

@{
    ViewData["Title"] = "Belt Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/belt.css" asp-append-version="true" />
}

<section class="belt-form-page">
    <div class="belt-form-card">

        <div class="belt-form-header">
            <h1>Belt Info</h1>
        </div>

        <div class="details-grid">

            <div class="details-item">
                <span>Belt name</span>
                <p>@Model.BeltName</p>
            </div>

        </div>

        <div class="form-actions">
            <a asp-action="Edit" asp-route-id="@Model.BeltId" class="save-link">Edit Belt</a>
            <a asp-action="Index" class="cancel-link">Back to List</a>
        </div>

    </div>
</section>
