@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<section class="account-settings-page">

    <div class="account-settings-nav">
        <partial name="_ManageNav" />
    </div>

    <div class="account-settings-content">
        @RenderBody()
    </div>

</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}