<ul class="account-nav-list">
    <li><a class="@ManageNavPages.IndexNavClass(ViewContext)" asp-page="./Index">Profile</a></li>
    <li><a class="@ManageNavPages.EmailNavClass(ViewContext)" asp-page="./Email">Email</a></li>
    <li><a class="@ManageNavPages.ChangePasswordNavClass(ViewContext)" asp-page="./ChangePassword">Password</a></li>
</ul>